<div class="container">
    <form (ngSubmit)="insertArticle()" #insertForm = "ngForm">
        <div class="form-group">
            <label for="title">Naslov</label>
            <input name="title" type="text" [(ngModel)]="article.title" class="form-control" placeholder="Unesite naslov članka">
        </div>
        <div class="form-group">
            <label for="photoURL">Fotografija</label>
            <input name="photoURL" type="text" [(ngModel)]="article.photoURL" class="form-control" placeholder="Unesite url fotografije">
        </div>
        <div class="form-group">
            <label for="article.category.categoryID">Kategorija</label>
            <select id="category" name="article.category.categoryID" [(ngModel)]="article.category.categoryID" class="form-control">
              <option *ngFor="let category of categories" [value]="category.categoryID">{{category.name}}</option>
            </select>
          </div>
        <div class="form-group">
            <label for="content">Sadržaj</label>
            <textarea  name="content" [(ngModel)]="article.content" class="form-control" placeholder="Unesite sadržaj članka">
            </textarea>
        </div>
        <div class="buttons d-flex justify-between">
            <button type="button" class="btn btn-warning" (click)="reload()">Odustani</button>
            <button type="submit" class="btn btn-success">Kreiraj artikal</button>
        </div>
    </form>
</div>