<div class="jumbotron jumbotron-fluid mb-1"
    [ngStyle]="{'background': 'radial-gradient(rgba(0, 43, 54, 0.2), rgba(0, 43, 54, 0.90)), #fff url('+ article.photoURL +') no-repeat center 50%/cover'}">
    <div class="container">
      <h1 class="display-4 text-center text-light">{{article.title}}</h1>
    </div>
</div>

<div class="container">
  <div class="categories mb-4">
    <h5><span class="badge badge-info">{{article.category.name}}</span></h5>
  </div>
    <p>{{article.content}}</p>

    <div class="buttons">
      <a class="btn btn-warning" [routerLink]="['/edit/', article.articleID]">Izmenite članak</a>
    </div>
</div>