@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/solar/bootstrap.min.css';

*:not(i){
    font-family: 'Roboto', sans-serif;
}

html,
body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

app-root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

app-home, 
app-add-article,
app-article-detail,
app-edit-article{
    min-height: 80vh;
}