.container{
    margin:  0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
}

.jumbotron .container h1{
    font-family: 'Parisienne', cursive;
}

app-single-article{
    margin-top: 15px;
}